.Monitor{
    .searchContent{
        gap:15px;
        width: 600px;
        margin-left: 210px;
        display: flex;
        flex-direction: column;
        margin-top: 70px;
        justify-content: space-around;
       align-items: center;
        .childName{
            border: none;
            height:30px;
            width: 400px;
            border-bottom: 1px solid gray;
        }
        .buttonDiv{
            display: flex;
            flex-direction: column;
            justify-content: center;
            .searchButton{
                border: none;
                
                width: 80px;
                height: 25px;
                border-radius: 20px;
                background-color: rgb(138, 248, 138);

                &:hover{
                    
                    background-color: white;
                    border: 1px solid rgb(122, 243, 122);
                }
            }
        }
        }

    .infoContent{
        margin-top: 40px;
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: aliceblue;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:20px;
        text-align: start;
        border-radius: 20px;
        .photoDiv{
            height: 150px;
            width: 150px;
            background-color: rgb(119, 221, 221);
        }
        border: 1px solid white;
        &:hover{
            background-color: white;
            
            border: 1px solid gray;
        }
    }
        
}